
<div ng-drop="true" ng-drop-success="onDropComplete($index,$data,$event)" ng-controller="TaskCtrl" ng-repeat="task in tasks" id="task_row_{{ task.id }}">
<div class="row task-row" ng-drag="true" ng-drag-data="task" >
  <div class="col-md-2 col-md-offset-1">
    <input name="Done" type="checkbox" class="Done" ng-checked="task.done" ng-click="toggleDone(task)"></input>
    <span onshow="createDate()" editable-bsdate="task.deadline" onaftersave="updateTask(task)">
      {{ (task.deadline | date:"dd/MM") || 'deadline' }}
    </span>
  </div>
  <div class="col-md-7 task-title" >
    <span editable-text='task.title' onaftersave="updateTask(task)">{{task.title }}</span>
  </div>

<div class="col-md-2 text-center task-buttons">
  <i class="fa fa-comment" ng-click='toggleComments= !toggleComments'></i>
  <i class="fa fa-trash" ng-click='removeTask(task)'></i>
</div>
</div>

<div class="comments" ng-show="toggleComments">
  <div comment></div>
<div class="row" ng-controller="NewCommentCtrl" >
  <form>
    <div class="col-md-9 col-md-offset-1 new-comment-input">
      <input type='text' ng-model='newComment.text' class="form-control" placeholder="Start typing here to create a comment..." required ></input>
    </div>
    <div class="col-md-2">
      <input type='submit' ng-click='addComment(newComment)' value='Add comment' class="btn btn-primary"></input>
    </div>
  </form>
</div>
</div>

</div>





