<div class="row">
  <div class="col-md-4 col-md-offset-3 sign-in">
    <div class="block-form">
      <h3> Sign in </h3>
    <form ng-submit="login(loginForm)" role="form" ng-init="loginForm = {}">
      <div class="form-group">
        <label>email</label>
        <input type="email" name="email" ng-model="loginForm.email" required="required" class="form-control"></input>
      </div>

      <div class="form-group">
        <label>password</label>
        <input type="password" name="password" ng-model="loginForm.password" required="required" class="form-control"/>
      </div>

        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
    </form>

    <button ng-click="authenticate('facebook')" class="btn btn-info btn-block">
      Login with Facebook
    </button>

    <a ui-sref='/sign-up'>
      Sign up 
    </a>
  </div>
  </div>
</div>