
<div ng-controller="ProjectCtrl" class="project" id="project_{{ project.id }}" ng-repeat='project in projects'>
  <div class="row project-header" id="project_row_{{ project.id }}">
  <div class="col-md-2 col-md-offset-1">
    <i class="fa fa-calendar fa-2x"></i>
  </div>
  <div class="col-md-7 project-title" editable-text='project.title' onaftersave="updateProject()">{{ project.title }}
  </div>
  <div class="col-md-2">
      <i class="fa fa-pencil"></i>
      <i class="fa fa-trash" ng-click='removeProject(project)'></i>
  </div>
</div>

    <!-- <div ui-view='/projects.new_task'></div> -->

  <form >
  <div class="row new-task">
  <div class="col-md-2 col-md-offset-1">
    <input type='text' ng-model='newTask.deadline' class="task_deadline" placeholder="MM-DD-YY" />
  </div>
  <div class="col-md-7 new-task-input">
    <input type='text' ng-model='newTask.title' class="form-control" placeholder="Start typing here to create a task..." required />
  </div>
  <div class="col-md-2">
    <input type='submit' ng-click='addTask(newTask)' value='Add task' class="btn task"></input>
  </div>
  </div>
</form>


<div id="task_row_{{ task.id }}" ng-controller="TaskCtrl" ng-repeat="task in tasks">

    <div class="row" >
      <div class="col-md-2 col-md-offset-1">
        <input type="checkbox" ng-checked="task.done" ng-click="toggleDone(task)"></input>
        <a href="#" onshow="createDate(task)" editable-bsdate="task.deadline" onaftersave="updateTask(task)">
          {{ (task.deadline | date:"dd/MM") || 'deadline' }}
        </a>
      </div>
      <div class="col-md-7" editable-text='task.title' onaftersave="updateTask(task)">
          {{task.title }}
      </div>
      <div class="col-md-2 text-center">
        <i class="fa fa-comment" ng-click='toggleComments= !toggleComments'></i>
        <i class="fa fa-trash" ng-click='removeTask(task)'></i>
      </div>
    </div>


<div class="comments" ng-show="toggleComments">
  <div class="row" ng-controller="CommentCtrl" ng-repeat="comment in comments">
    <div class="col-md-9 col-md-offset-1">
      <a href="#" editable-text='comment.text' onaftersave="updateComment(comment)">
        {{comment.text }}
      </a>
      <input type="file" nv-file-select uploader="uploader"/><br/>
        <ul>
            <li ng-repeat="item in uploader.queue">
                <span ng-bind="item.file.name"></span><br/>
                <button ng-click="item.upload()">upload</button>
            </li>
        </ul>
    </div>
    <div class="col-md-2 text-center">
      <i class="fa fa-trash" ng-click='removeComment(comment)'></i>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11 col-md-offset-1 text-center">
      <h4>New comment </h4>
    </div>
  </div>
  <div class="row" ng-controller="NewCommentCtrl" >

      <form >
        <div class="col-md-11 col-md-offset-1 new-comment-input">
          <input type='text' ng-model='newComment.text' class="form-control" placeholder="Start typing here to create a comment..." required ></input>
        </div>
        <div class="col-md-2">
          <input type='submit' ng-click='addComment(newComment)' value='Add comment' class="btn btn-primary"></input>
        </div>
      </form>

  </div>

  </div>
</div>

</div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <a ui-sref='/new_project' id="new_project_link" name="new_project_link" class="btn project" >
        <i class="fa fa-plus" ></i> Add TODO list
      </a>
    </div>
  </div>