/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$link-color: #999;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
/*@import "jquery.ui.core";
@import "jquery.ui.theme";
@import "jquery.ui.datepicker";*/
@import "angular-xeditable";
@import "angularjs-toaster/toaster.scss";

// Body

body {
  background: #cc8810;
  background: linear-gradient(to bottom, #f6d2c1 0%, #f9d4c1 25%, #ffff66 75%, #cc7710) no-repeat center center fixed;   background-size: cover;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 10px;
}


// Header and Footer

footer, header {
  text-align: center;
}

header {
  margin-bottom: 40px;
}
footer {
  margin-top: 20px;
  margin-bottom: 10px;
}

.user {
  text-align: right;
}

// Project -- Project Header

.project {
  margin-top: 100px;
}

.project-header > div[class*='col-'] {
  height: 50px;
  padding: 10px 0 12px 12px;
  background: linear-gradient(to bottom, #5689b6 0%,#335791 100%);
  &.project-title {
    color: white;
    font-size: 22px;
  }
  &:last-child {
    text-align: right;
    padding-right: 20px;
    font-size: 15px;
  }
  .fa-trash {
    color: #fff;
  }

}



// Task -- New task form

.new-task div[class*='col-'] {
  background: #ccc;
  height: 50px;
  padding: 8px 0 10px 10px;
  &:last-child {
    padding-left: 0px;
    padding-right: 7px;
  }
}


.new-task-input input[type="text"] {
  height: 30px;
  width: 100%;
  background-color: #fff;
  box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.75);
  border: 0;
  margin-right: 0px;
  border-radius: 0px;
  outline: none;
}


// Task -- row

div[id*='task_row'] [class*='col-'] {
  background: #fff;
  padding-top: 6px;
  padding-bottom: 6px;
}

// Grid -- Project Borders


[id*='task_row']:nth-last-child(1) [class*='col-'] {
  border-bottom: 1px solid #aaa;
  &:first-child {
    border-bottom-left-radius: 10px;
    }
  &:last-child {
    border-bottom-right-radius: 10px;
    }
  }


div.project .row > [class*='col-'] {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  &:last-child {
    border-right: 1px solid #aaa;
  }
  &:first-child {
    border-left: 1px solid #aaa;
  }
  &.project-title {
    border-left: 0;
    + [class*='col-'] {
      border-left: 0;
    }
  }
  &.new-task-input {
    border-left: 0;
     + [class*='col-'] {
      border-left: 0;
    }
  }
}

// Icons and rows on Hover

i:not(#checkbox):not(.fa-calendar) {
  opacity: 0;
}

div[id*='task_row'] .row:hover > [class*='col-'] {
  background-color: #FFF6EC;
}

div.project .row:hover i:not(#checkbox):not(.fa-calendar) {
  opacity: 0.8;
}

// Buttons

.btn.task {
      width: 100%;
      height: 30px;
      cursor: pointer;
      font-size:14px;
      color: #fff;
      text-shadow: 0 1px 0 #000;
      border: 1px solid #447556;
      border-radius: 0 5px 5px 0;
      background: #4D8464;
      background: linear-gradient(#73bd96 0%,#4D8464 97%);
    }
.btn.project {
      width: 100%;
      height: 50px;
      cursor: pointer;
      font-size:18px;
      color: #fff;
      text-shadow: 0 1px 0 #000;
      border-radius: 2px 2px 2px 2px;
      background: #335791;
      background: linear-gradient(to bottom, #5689b6 0%,#335791 100%);
      margin-bottom: 40px;
    }

.block-form {
  width: 500px;
  padding: 30px;
  margin: 40px;
  h3 {
    text-align: center;
  }
}

// Sign-in 

.sign-in .block-form {
  background-color: #FCFBE3;
  button {
    margin-bottom: 30px;
  }
}

// Project -- Create

.new_project {
  background-color: #F88379;
  color: #475885;

  input {
  margin-top: 30px;
  margin-bottom: 30px;
  }
}

.comment-row {
    display: table;
}

.comment-row .comment-body {
    float: none;
    display: table-cell;
    vertical-align: top;
}

