<!DOCTYPE html>
<html ng-app='myApp' ng-controller="MainCtrl">
<head>
  <title>TodoSpa</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= yield %>
  <div ui-view></div>
</div>
</body>
</html>
