<!DOCTYPE html>
<html ng-app='myApp' ng-controller="MainCtrl">
<head>
  <title>TodoSpa</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<div ng-show="user.signedIn">
  <button class="btn btn-primary btn-lg" ng-click='signOut()'>Sign out</button>
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'time-out': 5000, 'close-button':true}"></toaster-container>
  <%= yield %>
  <div ui-view></div>
</div>
</body>
</html>
